<form enctype="multipart/form-data">
    <div class="form-group">
        <label for="TeamName">Name</label>
        <input type="text" class="form-control" id="name" aria-describedby="nameHelp" placeholder="Enter Name">
    </div>
    <div class="form-group">
        <label for="image">Image</label>
        <input type="file" class="form-control-file" id="image">
    </div>
    <div class="form-group">
        <label for="country">Country</label>
        <input type="text" class="form-control" id="country" placeholder="Enter Country">
    </div>
    <div class="form-group">
        <label for="desc">Description</label>
        <textarea class="form-control" id="desc" rows="3" placeholder="Enter Team Description"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>